In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
import requests
import math
import xlsxwriter

In [2]:
stocks = pd.read_csv('/workspaces/codespaces-jupyter/data/sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [10]:
msft = yf.Ticker('MSFT')
one_month = msft.history(period='1mo')
# one_month
data = yf.download('msft', period='1mo')

[*********************100%***********************]  1 of 1 completed

In [11]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-29,334.709991,336.109985,332.619995,335.049988,335.049988,16997000
2023-06-30,337.750000,342.730011,337.200012,340.540009,340.540009,26823800
2023-07-03,339.190002,340.899994,336.570007,337.989990,337.989990,12508700
2023-07-05,335.089996,341.649994,334.730011,338.149994,338.149994,18172400
2023-07-06,337.299988,342.989990,335.500000,341.269989,341.269989,28161200
2023-07-07,339.320007,341.790009,337.000000,337.220001,337.220001,21185300
2023-07-10,334.600006,335.230011,327.589996,331.829987,331.829987,32791400
2023-07-11,331.059998,332.859985,327.000000,332.470001,332.470001,26698200
2023-07-12,336.600006,341.649994,335.670013,337.200012,337.200012,29995300
2023-07-13,339.559998,343.739990,339.019989,342.660004,342.660004,20567200
2023-07-14,347.589996,351.429993,344.309998,345.239990,345.239990,28302200
2023-07-17,345.679993,346.989990,342.200012,345.730011,345.730011,20363900
2023-07-18,345.829987,366.779999,342.170013,359.489990,359.489990,64872700
2023-07-19,361.750000,362.459991,352.440002,355.079987,355.079987,39732900
2023-07-20,353.570007,357.970001,345.369995,346.869995,346.869995,33778400
2023-07-21,349.149994,350.299988,339.829987,343.769989,343.769989,69368900
2023-07-24,345.850006,346.920013,342.309998,345.109985,345.109985,26678100
2023-07-25,347.109985,351.890015,345.070007,350.980011,350.980011,41637700
2023-07-26,341.440002,344.670013,333.109985,337.769989,337.769989,58383700
2023-07-27,340.480011,341.329987,329.049988,330.720001,330.720001,39635300
2023-07-28,333.670013,340.010010,333.170013,338.369995,338.369995,28463000